---
title: Link Builder
layout: tutorial

summary: This form will help you create secure links to Checkout, our hosted payment form.

navigation:
    header: na.tocs.na_nav_header
    footer: na.tocs.na_nav_footer
    toc: none

breadcrumbs: false
---

<div class="col-md-6 col-md-offset-3">

<h1>Checkout - Link Builder</h1>

<p>This form will help you create secure links to Checkout, our hosted payment form.
    <strong>It will not validate your input.</strong>
    You can view the documentation for Checkout, including the field requirements,
    <a href="https://dev.na.bambora.com/docs/references/checkout">here</a>.
</p>

<form id="form">
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <label for="merchant-id">Merchant ID*</label>
        <input id="merchant-id" type="text" name="merchant-id" pattern="^\d{9}$"
            oninvalid="setCustomValidity('This is a 9 digit string found in the Back Office at `Administration > Company Info`.')"
            oninput="setCustomValidity('')"
            required/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <label for="hash-key">Hash Key</label>
        <input id="hash-key" type="text" name="hash-key"
            oninvalid="setCustomValidity('This string can be found in the Back Office at `Administration > Account Settings > Order Settings`.')"
            oninput="setCustomValidity('')"
            />
        </div>
    </div>
    </div>

    <div class="radio-group">
    <div class="form-group">
        <label>Hashing Algorithm*</label>
    </div>
    <div class="radio">
        <input type="radio" name="radios" id="md5-radio" value="md5" >
        <label for="md5-radio">MD5</label>
    </div>
    <div class="radio">
        <input type="radio" name="radios" id="sha-1-radio" value="sha-1" checked>
        <label for="sha-1-radio">SHA-1</label>
    </div>
    </div>

    <h4>Order Info (optional)</h4>
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <label for="amount">Amount</label>
        <input id="amount" type="number" name="amount"
            pattern="[0-9]+([\.,][0-9]+)?" step="0.01"
            oninvalid="setCustomValidity('This number should be a decimal to two decimal places, eg. `1.00`.')"
            oninput="setCustomValidity('')"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <label for="Designation (Unspecified Amounts Will Be Considered Tithe)">Designation (Unspecified Amounts Will Be Considered Tithe)</label>
        <input id="Designation-Type" type="text" name="Designation-Type"/>
        </div>
    </div>
    </div>
    <div class="form-group">
    <label for="Designation Examples"> Tithe, Offering, Building Fund, Youth Ministry, Kitchen Renovation's, Missions, Cambodian Orphanage, Other:_____</label>
    </div>

    <h4>Card Info (optional)</h4>
    <div class="form-group">
    <label for="card-owner">Card Owner</label>
    <input id="card-owner" type="text" name="card-owner"/>
    </div>

    <h4>Name, Email & Address (optional)</h4>
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <label for="order-name">Name</label>
        <input id="order-name" type="text" name="order-name"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <label for="order-email">Email</label>
        <input id="order-email" type="text" name="order-email"/>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <label for="order-address-1">Address 1</label>
        <input id="order-address-1" type="text" name="order-address-1"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <label for="order-address-2">Address 2</label>
        <input id="order-address-2" type="text" name="order-address-2"/>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <label for="order-city">City</label>
        <input id="order-city" type="text" name="order-city"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <label for="order-province">Province</label>
        <input id="order-province" type="text" name="order-province"/>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <label for="order-postal-code">Postal Code</label>
        <input id="order-postal-code" type="text" name="order-postal-code"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <label for="order-country">Country</label>
        <input id="order-country" type="text" name="order-country"/>
        </div>
    </div>
    </div>


    <input type="submit" class="btn btn-default" value="Create link">
    <input type="reset" class="btn btn-secondary" value="Clear form">
</form>

<br>

<div class="block-highlight message hidden" id="message">
    <strong>Your new link:</strong>
    <div><a id="link" target="_blank"></a></div>
</div>

</div>

<%= javascript_include_tag "na/sha1.js" %>
<%= javascript_include_tag "na/md5.js" %>
<%= javascript_include_tag "na/link_builder" %>
